<%- model_class = Salon -%>
<div class="page-header">
  <h1><%=t '.title', :default => Salon %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:established_on) %></th>
      <th><%= model_class.human_attribute_name(:start_at) %></th>
      <th><%= model_class.human_attribute_name(:close_at) %></th>
      <th><%= model_class.human_attribute_name(:lunch_hour) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @salons.each do |salon| %>
      <tr>
        <td><%= salon.id %></td>
        <td><%= salon.name %></td>
        <td><%= salon.description %></td>
        <td><%= salon.established_on %></td>
        <td><%= salon.start_at %></td>
        <td><%= salon.close_at %></td>
        <td><%= salon.lunch_hour %></td>
        <td><%=l salon.created_at, format: :long %></td>
        <td>
          <%= link_to salon_path(salon), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to salon_path(salon), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_salon_path,
            :class => 'btn btn-primary' %>
